a {
  color: cornflowerblue;
}

a:hover {
    color: lavender;
}

p {
    color: darkslategray;
}

div.container div.row.login-wrapper {
  margin-top: 10em;
  margin-bottom: 5em;
}
.info-color {
  background-color: cornflowerblue !important;
}

.btn-outline-info {
  border: 2px solid cornflowerblue !important;
  background-color: transparent !important;
  color: cornflowerblue !important;
}

.btn-outline-info:hover {
  border: 2px solid lavender !important;
  color: lavender !important;
}
